<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <div class="mt-2">
      <table class='table'>
      <tr>
        <td colspan="2"><%= image_tag @user.get_profile_image, size:'100x100' %></td>
      </tr>
      <tr>
        <th>name</th>
        <th><%= @user.name %></th>
      </tr>
      <tr>
        <th>introduction</th>
        <td><%= @user.introduction %></td>
      </tr>
      <tr>
        <th>follows</th>
        <td><%= link_to @user.followings.count, followings_user_path(@user) %></td>
      </tr>
      <tr>
        <th>followers</th>
        <td><%= link_to @user.followers.count, followers_user_path(@user) %></td>
      </tr>
    </table>
        <%= render 'relationships/follow_button', user: @user %>
      </div>
      <h2 class="mt-3">New book</h2>
      <%= render 'books/form', book: @book %>
    </div>

    <div class='col-md-8 offset-md-1'>
  		<h2>Books</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @books.each do |book| %>
            <tr>
              <td>
                <%= link_to(user_path(book.user)) do %>
                  <%= image_tag book.user.get_profile_image, size: "50x50" %>
                <% end %>
              </td>
              <td><%= link_to book.title, book %></td>
              <td><%= book.body %></td>
              <td><%= render "favorites/btn", book: book %></td>
              <td><%= book.book_comments.count %></td>
            </tr>
          <% end %>
        </tbody>
        
        <div id="comment-list">
          <%= render 'book_comments/comments', book: @book %>
        </div>
      </table>
  </div>
</div>
